.header {
  background-image: linear-gradient(to right, rgb(0 0 0 /.8), rgb(0 0 0 /.7)), url(../public/img/header.jpg);
  padding: 5rem 0;
  background-size: cover;
  background-position: 50%;
  position: relative;
  overflow-x: hidden;
}

.logo {
  cursor: pointer;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  z-index: 2;
  position: relative;
}

@media (min-width: 768px) {
  .navegacion {
    margin-top: 0;
  }
}

.navegacion a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color .3s ease;
  position: relative;
  z-index: 1;
  font-weight: 600;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .navegacion a {
    margin: unset;
  }
}

.navegacion a:hover::after {
  animation-name: borderAnimation;
  animation-duration: .7s;
  animation-timing-function: ease;
  width: 100%;
  height: 3px;
  content: '';
  position: absolute;
  background: linear-gradient(45deg, purple, orange);
  bottom: 0;
  left: 0;
}

@keyframes borderAnimation {
  0% {
    opacity: 0;
    width: 0%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

/* PROMOCION */
.modelo {
  color: var(--blanco);
  margin-top: 5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .modelo {
    text-align: left;
    width: 50%;
  }
}

.modelo h2 {
  font-size: 6rem;
}

.modelo p:first-of-type {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1.8rem;
}

.precio {
  color: var(--primary);
  font-size: 5rem;
  font-weight: 700;
  line-height: 0;
}

.modelo a {
  margin-top: 2rem;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--blanco);
  border: 1px solid var(--primary);
  padding: 1rem 5rem;
  transition: background-color, color, .3s ease-in-out;
  box-shadow: 2px 2px 10px rgba(179, 144, 39, 0.062);
  border-radius: .5rem;
}

@media (min-width: 768px) {
  .modelo a {
    width: max-content;
    display: unset;
  }
}

.modelo a:hover {
  background-color: var(--primary);
}

.imagen {
  display: none;
}

@media (min-width: 992px) {
  .imagen {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    animation-name: mostrarImagen;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    width: 35rem;
  }
}

@keyframes mostrarImagen {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.cantCarrito {
  position: absolute;
  display: flex;
  justify-content: center;
  font-weight: 700;
  place-items: center;
  color: #fff;
  font-size: 1.3rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  border-radius: 50%;
  top: -1.7rem;
  right: -1.1rem;
  padding-bottom: .25rem;
}
